p, h4, h5, h6{
  font-family: 'Roboto Slab', serif;
}


body{
    background-image: url("https://c.pxhere.com/photos/10/e8/beach_coast_coastline_HD_wallpaper_nature_ocean_rocks_sea-910435.jpg!d");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: 'Pirata One', cursive;
    font-size: 80px;
    padding: 10px;
    color: #000000;
    text-align: center;
}

h2 {
    font-family: 'Pirata One', cursive;
    font-size: 40px;
    padding: 10px;
    color: #000000;
    text-align: center;
}

h3 {
    font-family: 'Pirata One', cursive;
    font-size: 20px;
    padding: 10px;
    color: #000000;
    text-align: center;
}

#treasure-pic{
  text-align: center;
}

#rules-section{
  text-align: center;
}

#gameboard{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

table{
  border: 2px solid black;
  background-color: #ffffff;
}

td{
  border: 2px dashed black;
  font-size: 80px;
  height: 100px;
  width: 100px;
}

td:hover{
  color: #e91e8f;
}

#outcome{
  font-family: 'Pirata One', cursive;
  text-align: center;
  font-size: 80px;
  color: #000000;
}

#bottom-section{
  color: #000000;
  text-align: center;
  font-size: 20px;
}

button{
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  border-radius: 12px;
  border: 2px solid black;
}

button:hover{
  background-color: #e91e8f;
}

a:hover{
  color: #e91e8f;
}